.header ul {
    text-align: center;
    list-style: none;
    margin: 15px;
    }
    .header li {
        margin: 40px;
        font-size: 15px;
        letter-spacing: 2px;
        color:gray;
    }
    .header li.title {
        color:black;
        font-weight: bold;
        font-size: 20px;
    }
    .image {
        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
        background-size:cover;
        height: 700px;
        width:100%;
    }
    h1 {
        border: 3px solid white;
        position: relative;
        top: 100px;
        width:500px;
        color:white;
        margin:0;
        left: 500px;
        font-size: 45px;
        font-family: Georgia, 'Times New Roman', Times, serif }
    h3 {
        color:red;
        position: relative;
        width: 350px;
        left: 500px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        top: 40px;
    }
.by {
    color: gray;
    position:relative;
    left: 400px;
    font-size: 15px;
    bottom: 60px;
}
#main {
    width: 1000px;
    height: 1000px;
    overflow: scroll;
}
p {
    width: 400px;
    position: relative;
    left: 380px;
    margin: 100px;
    bottom: 100px;
    font-size: 20px;
    letter-spacing: 1px;
    color: gray;
    line-height: 40px;
}
.middle {
    border: 1px solid red;
    color:red;
    padding: 15px;
    font-size: 20px;
    
}
.footer {
    border: 1px solid lightgrey;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 60px 0px;
    
}

.footer a {
   border: 1px solid red;
    color: red;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;

}
.footer a:hover {
    background-color: red;
    color: white;
    transition: 0.9s;
}









